
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
 <body>
 <div class="container">
    <div class="row">
       <!--card1-->
      <div class="card">
          <div class="card-header">
            <h3>Wakefit WoodBed (78*60inch)/(1.98m*1.52m)</h3>
          </div>
          <div class="card-body">
             <img src="./assets/bed.jfif"><br>
           <b> 15,000/-</b>
          </div>
          <div class="card-footer"> 
              <button class="button "><i class="fa fa-shopping-cart"></i>AddToCart</button>
             
              <button class="button">BuyNow</button><br>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o checked"></span>
              <span class="fa fa-star"></span>
          </div>
      </div>
        <!--card2-->
      <div class="card">
          <div class="card-header">
            <h3>Noble House Harper Fabric Dining Chairs</h3>
   
          </div>
          <div class="card-body">
             <img src="./assets/chairs.jfif"><br>
            <b> 2000/-</b>
          </div>
          <div class="card-footer"> 
              <button class="button "><i class="fa fa-shopping-cart"></i>AddToCart</button>
             
              <button class="button">BuyNow</button><br>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o checked"></span>
              <span class="fa fa-star"></span>
          </div>
      </div>
        <!--card3-->
      <div class="card">
          <div class="card-header">
              <h3>Rounded DiningTable</h3><br>
          </div>
          <div class="card-body">
              <img src="./assets/diningtable2.jfif"style="width:90%"><br>
            <b> <div>5000/-</div></b>
          </div>
          <div class="card-footer"> 
               <button class="button "><i class="fa fa-shopping-cart"></i>AddToCart</button>
             
              <button class="button">BuyNow</button><br>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o checked"></span>
              <span class="fa fa-star"></span>
       </div>
     </div>
      
          <!--card4-->
      <div class="card">
          <div class="card-header">
             <h3>woodenDressingtable</h3><br>
          </div>
          <div class="card-body">
             <img src="./assets/dressingtable.jfif"style="height:80%,width:80%"><br>
            <b> <div>10000/-</div></b>
             
          </div>
          <div class="card-footer"> 
              <button class="button "><i class="fa fa-shopping-cart"></i>AddToCart</button>
             
              <button class="button">BuyNow</button><br>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o checked"></span>
              <span class="fa fa-star"></span>
          </div>
      </div>
      <!--card5-->
      <div class="card">
          <div class="card-header">
            <h3>WoodenCupBoard</h3>
          </div>
          <div class="card-body">
              <img src="./assets/cupboard.jfif"style="height:80%,width:80%"><br>
             <b> 6599/-</b>
          </div>
          <div class="card-footer"> 
               <button class="button "><i class="fa fa-shopping-cart"></i>AddToCart</button>
             
              <button class="button">BuyNow</button><br>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o checked"></span>
              <span class="fa fa-star"></span>
       </div>
     </div>
     <!--card6-->
     <div class="card">
       <div class="card-header">
          <h3>WoodenWardeborde</h3>
       </div>
       <div class="card-body">
          <img src="./assets/wardeborde.jfif"style="height:80%,width:80%"><br>
        <b> 8499/-</b>
       </div>
       <div class="card-footer"> 
          <button class="button "><i class="fa fa-shopping-cart" aria-hidden="true">AddToCart</i></button>
             
          <button class="button">BuyNow</button><br>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-half-o checked"></span>
          <span class="fa fa-star"></span>
       </div>
    </div>     
    <!--card7--> 
    <div class="card">
      <div class="card-header">
         <h3>Sofa</h3>
      </div>
      <div class="card-body">
         <img src="./assets/sofa.jfif"style="height:80%,width:80%"><br>
        <b> <div>10,000/-</div> </b>
      </div>
      <div class="card-footer"> 
         <button class="button "><i class="fa fa-shopping-cart" aria-hidden="true">AddToCart</i></button>
            
         <button class="button">BuyNow</button><br>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star-half-o checked"></span>
         <span class="fa fa-star"></span>
      </div>
      </div>
      <!--card8-->
      <div class="card">
        <div class="card-header">
           <h3>Sofa</h3>
        </div>
        <div class="card-body">
           <img src="./assets/woodensofa.jfif"><br>
          <b> <div>3999/-</div> </b>
        </div>
        <div class="card-footer"> 
           <button class="button "><i class="fa fa-shopping-cart" aria-hidden="true">AddToCart</i></button>
              
           <button class="button">BuyNow</button><br>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star-half-o checked"></span>
           <span class="fa fa-star"></span>
        </div>
     </div>
   </div>
   </div>
   <footer class="page-footer">
 <!-- Footer Links -->
 <div class="container-fluid text-center text-md-left">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-6 mt-md-0 mt-3"style="text-align:left;">

      <!-- Content -->
      <h5 class="logo-text"style="color:white">AtoZ</h5>
      <div class="contact" style="color:white">
          <span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;08452-263636</span><br>
          <span><i class="fa fa-envelope"></i>info@AtoZ.com</span>
      </div>
      <div class="socials">
         <a href="#" style="margin: 15px 15px;"><i class="fa fa-facebook fa-fw" style="font-size: 20px;"></i></a>
         <a href="#" style="margin: 15px 15px;"><i class="fa fa-instagram fa-fw"  style="font-size: 20px;"></i></a>
         <a href="#" style="margin: 15px 15px;"><i class="fa fa-twitter fa-fw"  style="font-size: 20px;"></i></a>
        <a href="#" style="margin: 15px 15px;"><i class="fa fa-youtube fa-fw"  style="font-size: 20px;"></i></a>
      </div>
    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none pb-3">

    <!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase"  style="color:white">Links</h5>

        <ul class="list-unstyled">
         <li>
           <a routerLink="/electronics"  style="color:white">Electronics</a>
         </li>
         <li>
           <a routerLink="/heritage"  style="color:white">Heritage</a>
         </li>
         <li>
           <a routerLink="/groceries"  style="color:white">Groceries</a>
         </li>
         <li>
           <a routerLink="/gifts"  style="color:white">Gifts</a>
         </li>
         <li>
           <a routerLink="/trends"  style="color:white">Fashion</a>
         </li>
         <li>
           <a routerLink="/others"  style="color:white">Others</a>
         </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

       <form action="app.html" method="post">
           <h2  style="color:white">Contact Us</h2><br>
           <input type="email" name="email" class="text-input contact-input" placeholder="your email address..">
           <textarea name="message"  class="text-input contact-input"placeholder="your message..."></textarea>
           <button type="submit" class="btn btn-big"  style="color:white">
               <i class="fa fa-envelope"></i>send
           </button>
       </form>

      </div>
      <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3"  style="color:white">© 2020 Copyright:
  <a href="https//AtoZ.com">AtoZ</a>
</div>
<!-- Copyright -->
<!-- Footer -->
     
  </footer>
   <router-outlet></router-outlet>
  </body>
   </html>
  
