
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="container">
    <div class="row">
         <!--card1-->
        <div class="card">
            <div class="card-body">
               <img src="./assets/oil1.jfif"><br>
               <b><div>100/</div></b>
            </div>
            <div class="card-footer"> 
                <button class="button "><i class="fa fa-shopping-cart"></i>AddToCart</button>
               
                <button class="button">BuyNow</button><br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-half-o checked"></span>
                <span class="fa fa-star"></span>
            </div>
  
        </div>
          <!--card2-->
        <div class="card">
            <div class="card-body">
               <img src="./assets/oil2.jfif"style="height:90%"><br>
              <b> <div>100/-</div></b>
                
            </div>
            <div class="card-footer"> 
                <button class="button "><i class="fa fa-shopping-cart"></i>AddToCart</button>
               
                <button class="button">BuyNow</button><br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-half-o checked"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
          <!--card3-->
        <div class="card">
            
            <div class="card-body">
                <img src="./assets/oil3.jfif"style="height:90%"><br>
               <div><b>199/-</b></div>
            </div>
            <div class="card-footer"> 
                 <button class="button "><i class="fa fa-shopping-cart"></i>AddToCart</button>
               
                <button class="button">BuyNow</button><br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-half-o checked"></span>
                <span class="fa fa-star"></span>
         </div>
       </div>
        
            <!--card4-->
        <div class="card">
           
            <div class="card-body">
               <img src="./assets/oil4.jfif"style="width:70%"><br>
               <b><div>399/-</div></b>
               
            </div>
            <div class="card-footer"> 
                <button class="button "><i class="fa fa-shopping-cart"></i>AddToCart</button>
               
                <button class="button">BuyNow</button><br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-half-o checked"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
        <!--card5-->
        <div class="card">
            
            <div class="card-body">
                <img src="./assets/oil5.jfif"style="height:80%"><br>
               <b> 120/-</b>
            </div>
            <div class="card-footer"> 
                 <button class="button "><i class="fa fa-shopping-cart"></i>AddToCart</button>
               
                <button class="button">BuyNow</button><br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-half-o checked"></span>
                <span class="fa fa-star"></span>
         </div>
       </div>
       <!--card6-->
       <div class="card">
         <div class="card-body">
            <img src="./assets/parachuteoil.jfif"style="width:90%"><br>
           <b> <div>199/-</div> </b>
         </div>
         <div class="card-footer"> 
            <button class="button "><i class="fa fa-shopping-cart" aria-hidden="true">AddToCart</i></button>
               
            <button class="button">BuyNow</button><br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-half-o checked"></span>
            <span class="fa fa-star"></span>
         </div>
      </div>
      <!--card7-->
      <div class="card">
        <div class="card-body">
           <img src="./assets/oil6.jfif"style="height:90%"><br>
          <b> <div>499/-</div> </b>
        </div>
        <div class="card-footer"> 
           <button class="button "><i class="fa fa-shopping-cart" aria-hidden="true">AddToCart</i></button>
              
           <button class="button">BuyNow</button><br>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star-half-o checked"></span>
           <span class="fa fa-star"></span>
        </div>
     </div>
          
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
</html>
