body{
  background-color: chocolate;
  text-align: center;
}
img.one{
  width:50%;
  height:60%;
  border-radius:50%;
 
}
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  carousel-control-prev {
    
    color: rgb(163, 184, 47);
}
 
carousel-control-next {
   
    color: rgb(163, 184, 47);
}
